
fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9

sqlalchemy==2.0.29
psycopg2-binary==2.9.9
alembic==1.13.1
pgvector==0.2.5

pydantic==2.6.4
pydantic-settings==2.2.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

langchain==0.2.16
langchain-core==0.2.43
langchain-openai==0.1.23
langchain-community==0.2.16
langchain-huggingface==0.0.3

sentence-transformers==2.7.0
pypdf==4.2.0
python-dotenv==1.0.1